appnope
asn1crypto
attrs
backcall
bleach
blinker
cffi
Click
cryptography
cycler
Cython
decorator
defusedxml
entrypoints
Flask
Flask-Mail
Flask-MySQL
idna
ipykernel
ipython
ipython-genutils
ipywidgets
itsdangerous
jedi
Jinja2
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
kiwisolver
MarkupSafe
matplotlib
mistune
nbconvert
nbformat
ndg-httpsclient
notebook
numpy
pandas
pandocfilters
parso
passlib
pexpect
pickleshare
prometheus-client
prompt-toolkit
ptyprocess
pyasn1
pycparser
Pygments
PyMySQL
pyOpenSSL
pyparsing
pyrsistent
python-dateutil
pytz
pyzmq
qtconsole
scikit-learn
scipy
seaborn
Send2Trash
six
sklearn
terminado
testpath
tornado
traitlets
virtualenv
wcwidth
webencodings
Werkzeug
widgetsnbextension
WTForms==2.3.3
xgboost
email_validator
